*{
    box-sizing: border-box;
}
/*Paleta de colores: #19545B, #00282A Y #94FDFF*/
.p-menubar .p-menuitem{
margin-right: 40px;
margin-left: 40px;
}
.p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-content  .p-menuitem-text{
    color:#94FDFF;
}
.p-menubar{
    background-color: #00282A !important;
}
.p-menubar .p-menubar-root-list> .p-menuitem > .p-menuitem-content  .p-menuitem-text:hover{
    color:#ffffff;
}
.p-menubar-start{
    margin-left:40px ;
    margin-right: 40px;
}
/*fondo*/
.fondo{
    min-height: 100vh;
    background-image: url('../assets/parking_fondo.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
/*Panel*/
main{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 60px 8% 40px 8%;
    box-sizing: border-box;
}
.hero h1{
    font-size: 60px;
    margin: 0;
}
.hero{
    max-width: 600px;
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap:20px;
}
.hero .badge{
    margin: 20px 6px;
    background-color: #00282A ;
    color: #94FDFF;
    padding: 3px 15px;
    border-radius: 20px;
    font-size: smaller;
}
.hero p{
    font-size: 16px;
    line-height: 1.6;
    margin: 0;
}
.hero button{
    background-color: #94FDFF;
    margin: 30 10px;
    color: #00282A;
    border: none;
    padding: 6px 90px;
    font-size: 15px;
    font-weight: 600;
    border-radius: 6px;
    cursor: pointer;
    transition: background 0.3 ease;
}
.hero button:hover{
    background-color: #00bccc;
}
.beneficios{
    display: flex;
    justify-content: space-between;

    margin-top: 40px;
    flex-wrap: wrap;
}
.beneficios .card{
    flex: 1;
    min-width: 20px;
    background-color: #19545B;
    padding: 15px 24px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.beneficios .card h3{
    margin: 0;
    font-size: 16px;
    font-weight: 600;
}
.beneficios .card p{
    margin: 0;
    font-size: 13px;
    line-height: 1.5;
}
/*Panel sobre nosotros*/
.contenedor-columnas{
    display: flex;
    flex-direction: row;
    padding: 30px 20px;
    width: 100%;
    align-items: stretch;
    box-sizing: border-box;
    background-color: #00bbcca8;
    border-radius: 8px;
    gap: 150px;
    margin-top: 50px;
}
/**Tarifas*/
div.p-panel-content, div.p-panel-header{
    background-color: #00bbcca8;
    border-color: #00bccc;
}
.contenedor-columnas .column{
    flex: 1;
    background-color: #00bccc;
    min-width: 0;
     border-radius: 8px;
}
.tarifa{
    width: 100%;
    border-collapse:collapse ;
    margin-top: 10px;
}
.tarifa th, .tarifa td{
    padding: 10px 8px;
    text-align: left;
}
.tarifa tbody tr{
    border-bottom: 1px solid #19545B;
}
/*Footer*/
.footer-li{
    list-style: none;
    display: flex;
    flex-direction: row;
    background-color: #19545B;
    gap: 400px;
    margin: 25px 0px;
    padding: 10px 0px;
}
/*      Quienes somos letra*/
p.m-0{
    margin-bottom: 30px;
}
