/*Paleta de colores: #19545B, #00282A Y #94FDFF*/
*{
    box-sizing: border-box;
}
/*fondo*/
.fondo{
    min-height: 100vh;
    background-image: url('../assets/parking_fondo.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: auto;
}
.main{
    padding: 20px 0;
}
/*top*/
.topbar{
    background-color: #19545B;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 10px 10px;
}
/*Avatar*/
.usuario-contenedor{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.usuario-info h4{
    margin: 2px 0 0 0 ;
}

/*menú lateral*/
.contenedor-principal{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 40px;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
}
div.menu-lateral-pu{

    background-color: #19545B;
}
a.p-panelmenu-header-link{
    border: none;
    margin: 30px;
}
div.p-panelmenu-header-content{
    background-color: #19545B;
    border-color: #19545B;
}
.vista-contenido{
    flex-grow: 1;
    max-width: 480px;
    margin: 30px;
}

a.p-panelmenu-header-link:hover{
    background-color: #94fdff93;
    border: none;
    margin: 30px;
}
.card-title{
    text-align: center;
    margin-bottom: 20px;
    font-size: 22px;
}
/*Perfil*/
div.profile-Card.shadow-4.p-card.p-component{
    background-color: #19545B;
    margin: 20px;
    border-radius: 10px;
    text-align: center;
}
div.p-card-content{
    display: table;
    gap: 30px;
    padding: 30px;
}

.info-row{
   display: flex;
   align-items: center;
    gap: 10px;
    padding: 10px 3px 0px 2px;
    margin: 10px 0px;
    padding: 15px 10px 10px 20px;
}
.btn-editar{
    color: #94FDFF;
    background-color: #021b1d;
    border-radius: 5px;
    font-size: medium;
    display: -webkit-box;
    justify-content: center;
    align-items: center;
}
.btn-editar:hover{
    color: #19545B;
}/*Editar información*/
.btn-cerrar{
    padding: 0.25rem !important;
    font-size: 0.75rem !important;
    border-radius: 100%;
    color: #19545B;
    border: none;
    width: 1.75rem !important;
    height: 1.75rem !important;
    min-width: auto;
  
}
div.edit-info{
    display: table-cell;
}
.form-edit-info{
    max-width: 600px;
    margin: 50px 90px;
}
/*Tarifas*/
table.tarifa{
    background-color: #19545b7d;
    border-radius: 10px;
    padding: 30px;
    display: table-cell;
    font-size: larger;
}